
      <section id="content" class="m-t-70 wrapper-md animated fadeInUp">
         <a class="nav-brand" href="index.html"><img class="max-h-inherit m-b-20" width="200px" src="images/logo.png"/></a> 
         <div class="row m-n">
            <div class="col-md-4 col-md-offset-4 ">
               <section class="panel">
                  <!--header class="panel-heading text-center login-heading "> Sign in </header-->
                  <form action="#l" class="panel-body m-t-0">
                     <div class="form-group"> <label class="control-label">Email</label> <input type="email" placeholder="test@example.com" class="form-control"> </div>
                     <div class="form-group"> <label class="control-label">Password</label> <input type="password" id="inputPassword" placeholder="Password" class="form-control"> </div>
                     <div class="checkbox"> <label> <input type="checkbox"> Keep me logged in </label> </div>
                     <a href="forgot.html" class="pull-right m-t-xs"><small>Forgot password?</small></a> 
					 <a href="#" class="btn btn-info">Sign in</a> 
                     <!--div class="line line-dashed"></div-->
                     <!---a href="#" class="btn btn-facebook btn-block m-b-sm"><i class="fa fa-facebook pull-left"></i>Sign in with Facebook</a>
                     <a href="#" class="btn btn-twitter btn-block"><i class="fa fa-twitter pull-left"></i>Sign in with Twitter</a---> 
                     <!--div class="line line-dashed"></div-->
                   </form>
               </section>
            </div>
         </div>
      </section>
     
      <footer id="footer">
         <div class="text-center padder clearfix">
            <p> <small>&copy 2017. All Rights Reserved.</small> </p>
         </div>
      </footer>
    
	  <!-- <script src="js/app.v2.js"></script>  -->
	
